<!-- <h1>12. Make a Header component</h1> -->
<app-header></app-header>

<h1>1. Components</h1>
<app-my-component />
<app-component1 />
<app-component2 />
<app-component3 />
<app-md-component />

<h1>2. Function in Angular</h1>

<button (click)="getValue()">Click me</button>
<button (click)="greet('Good morning!')">Greet</button>
<button (click)="getName('firstName', 'lastName')">Get Name</button>

<h1>3. Important events in Angular</h1>

<input
  type="text"
  #box1
  (keyup)="getData(box1.value)"
  placeholder="keyup event"
/>
<br />
<br />
<input
  type="text"
  #box2
  (keydown)="getData(box2.value)"
  placeholder="keydown event"
/>
<br />
<br />
<input
  type="text"
  #box3
  (blur)="getData(box3.value)"
  placeholder="blur event"
/>
<br />
<br />
<input
  type="text"
  #box4
  (input)="getData(box4.value)"
  placeholder="input event"
/>
<br />
<br />
<h4 (mouseover)="getData('mouseover')">mouseover event</h4>
<h4 (mouseleave)="getData('mouseleave')">mouseleave event</h4>

<h1>4. Get inpurt box value and display</h1>

<!-- <input
  type="text"
  #box5
  (keyup)="getVal(box5.value)"
  placeholder="Enter name"
  name="name"
/> -->
<input type="text" #box5 placeholder="Enter name" name="name" />
<button (click)="getVal(box5.value)">Click</button>
<p>{{ displayVal }}</p>

<h1>5. Counter with Angular</h1>
<p>Counter : {{ count }}</p>
<button (click)="counter('add')">++</button>
<button (click)="counter('minus')">--</button>
<h1>6. Property binding in Angular</h1>
<input
  type="text"
  name="user-name"
  value="{{ name }}"
  disabled="{{ disable }}"
/>
<p>interpolation only takes string and number</p>
<!--interpolation-->
<br /><br />
<input type="text" name="user-name" [value]="name" [disabled]="disable" />
<p>property binding takes string, number and boolean also</p>
<!--property binding-->

<h1>7. Conditional statement in Angular</h1>

<!-- <h2>If condition</h2>
<div *ngIf="show">
  <ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
  </ul>
</div> -->

<h2>If-else condition</h2>
<!-- <div *ngIf="show; else elseBlock">
  <ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
  </ul>
</div>
<ng-template #elseBlock>
  <div>
    <p>else condition block</p>
  </div>
</ng-template> -->

<h1 *ngIf="show; then ifBlock; else elseBlock"></h1>
<ng-template #ifBlock>
  <p>if execution</p>
</ng-template>
<ng-template #elseBlock>
  <p>else execution</p>
</ng-template>

<h2>if-elseif-else conditions</h2>
<ng-template [ngIf]="color === 'red'">
  <h1 style="color: red">Red color</h1>
</ng-template>
<ng-template [ngIf]="color === 'green'">
  <h1 style="color: green">Green color</h1>
</ng-template>
<ng-template [ngIf]="color === 'blue'">
  <h1 style="color: blue">Blue color</h1>
</ng-template>

<h1>8. Switch-case statements</h1>

<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red">Red</h1>
  <h1 *ngSwitchCase="'green'" style="color: green">Green</h1>
  <h1 *ngSwitchCase="'yellow'" style="color: yellow">Yellow</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue">Blue</h1>
  <h1 *ngSwitchCase="'orange'" style="color: orange">Orange</h1>
  <h1 *ngSwitchDefault>Unknown color</h1>
</div>

<h1>9. For Loop in Angular</h1>

<h2 *ngFor="let hero of heroes">{{ hero }}</h2>
<h2 *ngFor="let user of usersDetails">
  {{ user.name }}--{{ user.email }}--{{ user.age }}
</h2>

<h1>10. Nested Loop in Angular</h1>
<ul *ngFor="let user of anotherUsersDetails">
  <li>{{ user.email }}</li>
  <li>{{ user.name }}</li>
  <ul *ngFor="let account of user.socialMedia">
    <li>{{ account }}</li>
  </ul>
</ul>
<h1>11. Style binding in Angular</h1>

<h2 [style.color]="color" [style.backgroundColor]="bgcolor">{{ title }}</h2>
<button (click)="updateColor()">update color</button>
